<h1>Actors/Actresses List: </h1>
<% y = 1 %>
<% @actors.each do |x| %>
<h4><%= y.to_s  %>. <a href="/actors/<%= x.slug %>"> <%= x.name %></a></h4>
 <% y+=1 %>
<% end %>
<p><a href="/actors/new">Add Actor/Actress</a></p>
<br>
<p><a href="/home">Home</a></p>
<p><a href="/logout">Log Out</a></p>