<h1>TV Shows List: </h1> 
<% y = 1 %>
<% @shows.each do |x| %>
<h4><%= y.to_s  %>. <a href="/shows/<%= x.slug %>"> <%= x.title %></a> (<%= x.year %>)</h4>
 <% y+=1 %>
<% end %>
<p><a href="/shows/new">Add Show</a></p>
<br>
<p><a href="/home">Home</a></p>
<p><a href="/logout">Log Out</a></p>