

<h1>Welcome to JMDB! You are signed in as <%= @user.username %> </h1>

<h2><a href="/movies">Browse all Movies</a></h2>
<h2><a href="/shows">Browse all Shows</a></h2>
<h2><a href="/actors">Browse all Actors/Actresses</a></h2>
<h2><a href="/genres">Browse all Genres</a></h2>
<h2><a href="/users">Browse all Users</a></h2>



<p><a href="/logout">Log Out</a></p>



