<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= @title %></title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 75px;
      }
      .starter-template {
        padding: 40px 15px;
        text-align: center;
      }
      .container {
        max-width:1000px;
      }
    </style>
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">JMDB</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          	<% if logged_in? %>
            <li><a href="/home">Home</a></li>
            <li><a href="/movies">Movies</a></li>
            <li><a href="/shows">Shows</a></li>
            <li><a href="/actors">Actors/Actresses</a></li>
            <li><a href="/genres">Genres</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/logout">Log Out</a></li>
            <% end %>
            <% if !logged_in? %> 
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Log In</a></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <% if logged_in? %>
    <div class="container">
	  <a href="/movies/new"><button type="button" class="btn btn-primary">Add Movie</button></a>
    <a href="/shows/new"><button type="button" class="btn btn-primary">Add Show</button></a>
	  <a href="/actors/new"><button type="button" class="btn btn-primary">Add Actor</button></a>
	  <a href="/genres/new"><button type="button" class="btn btn-primary">Add Genre</button></a>
	  <% end %> 
    <br>
      <%= yield %>

    </div><!-- /.container -->


</body>
</html>